{% extends "base.html" %}
{% load static %}

{% block title %} About Me {% endblock %}

{% block content %}
    <section class="about-section center-row">
        <div class="about-image center-row">
            <img src="{% static "./img/Tony.png" %}" alt="">
        </div>
        <div class="about-desc center-column">
            <h1>Brett Byrd</h1>
            <h2>Full-Stack Developer</h2>
            <p>Hi, my name is Brett Byrd, a full-stack developer based in the beautiful country of Belize.  While I'm
                enjoying the tropical life here, I'm ready to bring my skills and experience to help clients across the
                US achieve their online goals.<br><br>
                As a US Air Force veteran and graduate of the Full Stack Development Immersive program at San Diego
                Global Knowledge University, I have a strong foundation in building dynamic and user-friendly websites.
                I've honed my expertise across a variety of projects, including blogs, e-commerce platforms, real
                estate websites, and task management applications.  I'm passionate about crafting websites that are not
                only functional but also visually engaging and reflect the unique identity of my clients.<br><br>
                I believe that clear communication and collaboration are key to a successful project.  I'm committed to
                working closely with you to understand your vision and translate it into a compelling online presence.
                Quality and creativity are at the forefront of my approach, and I strive to deliver exceptional results
                that exceed expectations.<br><br>
                When I'm not coding, you can find me exploring my other passion: music. I'm an avid music lover and
                enjoy composing my own pieces.<br><br>
                Ready to bring your online vision to life?  Check out some of my recent projects or get in touch – I'd
                love to hear from you!</p>
            <div class="skills-container center-column">
                <h2>My Skills</h2>
                <div class="skills-list center-row">
                    <label class="text-label">HTML</label>
                    <label class="text-label">CSS</label>
                    <label class="text-label">JavaScript</label>
                    <label class="text-label">jQuery</label>
                    <label class="text-label">React</label>
                    <label class="text-label">Python</label>
                    <label class="text-label">Django</label>
                    <label class="text-label">Node.js</label>
                    <label class="text-label">UX</label>
                    <label class="text-label">AGILE</label>
                </div>
            </div>
        </div>
    </section>

{% endblock %}