{% extends "base.html" %}

{% block title %} Test {% endblock title %}

{% block content %}

    <h2>Random Text</h2>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate debitis delectus dolor ea in
     nulla omnis ut! Accusamus aliquid dicta dolores earum facere fuga harum nulla optio ratione ut?</span><span>Aperiam
     atque beatae blanditiis deserunt distinctio, doloremque eaque eveniet expedita fuga incidunt laborum magni, minima
     mollitia natus nobis, numquam omnis provident qui quis ratione rem repellat sequi totam unde vel?</span><span>Aut
     blanditiis dolores maxime, obcaecati optio quaerat. Ab amet dignissimos eos facere ipsum magnam maiores maxime
     minus, modi non provident quae qui rerum soluta ut, vel velit vero? Facilis, ullam?</span></p>

{% endblock %}