.project-card{
    display: flex;
    align-items: flex-start;
    background-color: #000000;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;
    max-width: 90vw;
    width: 90vw;
}
.project-image{
    flex-shrink: 0;
    margin-right: 20px;
}
.project-image img{
    width: 150px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.project-details{
    flex:1;
}
.project-title{
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
}
.project-description{
    margin: 10px 0;
    color: #666;
    font-size: 1em;
}
.project-year{
    font-style: italic;
    color: #999;
    margin-bottom: 10px;
}
.project-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    margin-top: auto;
}
.skill{
    background-color: #007bff;
    color: white;
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 20px;
    white-space: nowrap;
}